*{
    padding: 0;
    margin: 0;
}


header{
    background-color: wheat;
}

main{
    background-color: tomato;
}

article{
    padding: 20px;
    background-color: lightblue;
}

section{
    padding: 30px;
    background-color: brown;
}

aside{
    background-color: aquamarine;
}

footer{
    background-color: steelblue;
}